<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <webposcash>
                <model>Gsoft\Webpos\Model\Payment\Cash</model>
                <active>1</active>
                <title>Pago en webpos en efectivo</title>
                <order_status>processing</order_status><!-- set default order status-->
            </webposcash>
            <webposcard>
                <model>Gsoft\Webpos\Model\Payment\Card</model>
                <active>1</active>
                <title>Pago en webpos con tarjeta</title>
                <order_status>processing</order_status>
            </webposcard>
        </payment>
        <carriers>
            <webpos>
                <active>1</active>
                <enabled_frontend>0</enabled_frontend>
                <sallowspecific>0</sallowspecific>
                <model>Gsoft\Webpos\Model\Carrier\Shipping</model>
                <name>Punto de venta</name>
                <title>Recogida en tienda</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </webpos>
        </carriers>
        <webpos>
            <general>
                <shipping_default>webpos_webpos</shipping_default>
                <adminpayments>webposcash,webposcard</adminpayments>
                <source_stock>default</source_stock>
                <payment_description>Pagado en tienda</payment_description>
                <send_email>0</send_email>
                <create_shipment>1</create_shipment>
                <create_invoice>1</create_invoice>
                <order_status>complete</order_status>
                <is_in_stock>0</is_in_stock>
                <stock_item>1</stock_item>
                <disallow_tracking>1</disallow_tracking>
            </general>
        </webpos>
    </default>
</config>
